.box {
	padding: 10px;
	text-align: center;
	margin: 2.5%;
}

.type-field {
	padding: 10px;
	background: #d16666;
	color: white;
	outline: none;
	border: none;
	font-size: 1.2vw;
	display: inline-block;
	width: 30%;
}

.type-field::placeholder {
	color: #ccc;
}
